:host {
    display: flex;
    position: relative;
    padding: 0 2vh 2vh 2vh;
    margin-top: 10vh;
    background-color: #eee;
}
:host:before,
:host:after {
    content: '';
    position: absolute;
    top: 0;
    width: 2vh;
    height: 1px;
    background-color: #bbb;
}
:host:before {
    left: 0;
}
:host:after {
    right: 0;
}
button {
    box-sizing: border-box;
    flex-basis: 50%;
    height: 8vh;
    border-style: solid;
    border-width: 1px;
    border-color: #bbb transparent transparent transparent;
    border-radius: 0 0 1vh 1vh;
    background: none;
    background-color: #eee;
    font-size: 3vh;
    line-height: 8vh;
    color: #999;
    outline: none;
    cursor: pointer;
    transition: border-color .3s;
}
.active {
    border-color: transparent #bbb #bbb #bbb;
    background-color: #fff;
    color: #6aa;
}
