:host {
    display: flex;
    position: relative;
    padding: 2vh 2vh 0 2vh;
    margin-bottom: 5vh;
    background-color: var(--color-bg);
}
:host:before,
:host:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 2vh;
    height: 1px;
    background-color: var(--color-border);
}
:host:before {
    left: 0;
}
:host:after {
    right: 0;
}
button {
    box-sizing: border-box;
    flex-basis: 50%;
    height: 8vh;
    border-style: solid;
    border-width: 1px;
    border-color: transparent transparent var(--color-border) transparent;
    border-radius: 1vh 1vh 0 0;
    background: none;
    background-color: var(--color-bg);
    font-size: 3vh;
    line-height: 8vh;
    color: var(--color-gray);
    outline: none;
    cursor: pointer;
    transition: border-color .3s;
}
.active {
    position: relative;
    border-color: var(--color-border) var(--color-border) transparent var(--color-border);
    background-color: var(--color-white);
    color: var(--color-accent);
    box-shadow: 0 -1px 1px rgba(0,0,0,.2);
}
