<div class="title">
    {{ "My coordinates" | lang: currentLang }}
    <a href="https://github.com/m-pavlov/angular-geolocation-pwa" class="github" target="_blank">github</a>
</div>
<app-view-type (choose)="onTypeChange($event)"></app-view-type>

<div *ngIf="errorType || ! position" class="errors">
    <div *ngIf="errorType === 'not-available'">{{ "Sorry, geolocation is not available on your device" | lang: currentLang }}</div>    
    <div *ngIf="errorType === 'failed'">{{ "Sorry, we can't get your geolocation" | lang: currentLang }}</div>    
    <div *ngIf="errorType === 'permission'">{{ "Please, allow the browser to know your location" | lang: currentLang }}</div>
</div>

<div
    *ngIf="position && ! errorType"
    class="position"
>
    <div class="label">{{ "Latitude" | lang: currentLang }}</div> 
    <div class="values" *ngIf="position.latitude !== null">
        <span *ngIf="viewType === 'decimal'" class="value">{{ position.latitude | decimal }}</span>
        <span *ngIf="viewType === 'minutes'" class="value">{{ position.latitude | minutes }}</span>        
        <span *ngIf="position.latitude > 0">{{ "N" | lang: currentLang }}</span>
        <span *ngIf="position.latitude < 0">{{ "S" | lang: currentLang }}</span>        
        <span *ngIf="position.accuracyLatitude !== null" class="accuracy">
            &plusmn; 
            <span *ngIf="viewType === 'decimal'">{{ position.accuracyLatitude | decimal }}</span>
            <span *ngIf="viewType === 'minutes'">{{ position.accuracyLatitude | minutes }}</span>
        </span>
    </div>
    <div class="values" *ngIf="position.latitude === null">
        <span class="value">{{ "not available" | lang: currentLang }}</span>
    </div>

    <div class="label">{{ "Longitude" | lang: currentLang }}</div>
    <div class="values" *ngIf="position.longitude !== null">
        <span *ngIf="viewType === 'decimal'" class="value">{{ position.longitude | decimal }}</span>
        <span *ngIf="viewType === 'minutes'" class="value">{{ position.longitude | minutes }}</span>
        <span *ngIf="position.latitude > 0">{{ "E" | lang: currentLang }}</span>
        <span *ngIf="position.latitude < 0">{{ "W" | lang: currentLang }}</span>        
        <span *ngIf="position.accuracyLongitude !== null" class="accuracy">
            &plusmn; 
            <span *ngIf="viewType === 'decimal'">{{ position.accuracyLongitude | decimal }}</span>
            <span *ngIf="viewType === 'minutes'">{{ position.accuracyLongitude | minutes }}</span>
        </span>        
    </div>
    <div class="values" *ngIf="position.longitude === null">
        <span class="value">{{ "not available" | lang: currentLang }}</span>
    </div>

    <div class="label">{{ "Altitude" | lang: currentLang }}</div>
    <div class="values" *ngIf="position.altitude !== null">
        <span class="value">{{ position.altitude }}</span>
        <span>{{ "meters" | lang: currentLang }}</span>
        <span  *ngIf="position.accuracyAltitude !== null" class="accuracy">
            &plusmn; 
            {{ position.accuracyAltitude }}
        </span>
    </div>
    <div class="values" *ngIf="position.altitude === null">
        <span class="value">{{ "not available" | lang: currentLang }}</span>
    </div>    
</div>

<app-lang></app-lang>