<div class="title">
    {{ "My coordinates" | lang: currentLang }}
</div>
<app-view-type (choose)="onTypeChange($event)"></app-view-type>

<div *ngIf="errorType || ! position" class="errors">
    <div *ngIf="errorType === 'not-available'">{{ "Sorry, geolocation is not available on your device" | lang: currentLang }}</div>    
    <div *ngIf="errorType === 'failed'">{{ "Sorry, we can't get your geolocation" | lang: currentLang }}</div>    
    <div *ngIf="errorType === 'permission'">{{ "Please, allow the browser to know your location" | lang: currentLang }}</div>
</div>

<dl
    *ngIf="position && ! errorType"
    class="position"
>
    <dt>{{ "Latitude" | lang: currentLang }}</dt> 
    <dd *ngIf="position.latitude !== null">
        <span *ngIf="viewType === 'decimal'" class="value">{{ position.latitude | decimal }}</span>
        <span *ngIf="viewType === 'minutes'" class="value">{{ position.latitude | minutes }}</span>        
        <span *ngIf="position.latitude > 0">{{ "N" | lang: currentLang }}</span>
        <span *ngIf="position.latitude < 0">{{ "S" | lang: currentLang }}</span>        
        <span *ngIf="position.accuracyLatitude !== null" class="accuracy">
            &plusmn; 
            <span *ngIf="viewType === 'decimal'">{{ position.accuracyLatitude | decimal }}</span>
            <span *ngIf="viewType === 'minutes'">{{ position.accuracyLatitude | minutes }}</span>
        </span>
    </dd>
    <dd *ngIf="position.latitude === null" class="value">
        {{ "not available" | lang: currentLang }}
    </dd>

    <dt>{{ "Longitude" | lang: currentLang }}</dt>
    <dd *ngIf="position.longitude !== null">
        <span *ngIf="viewType === 'decimal'" class="value">{{ position.longitude | decimal }}</span>
        <span *ngIf="viewType === 'minutes'" class="value">{{ position.longitude | minutes }}</span>
        <span *ngIf="position.latitude > 0">{{ "E" | lang: currentLang }}</span>
        <span *ngIf="position.latitude < 0">{{ "W" | lang: currentLang }}</span>        
        <span *ngIf="position.accuracyLongitude !== null" class="accuracy">
            &plusmn; 
            <span *ngIf="viewType === 'decimal'">{{ position.accuracyLongitude | decimal }}</span>
            <span *ngIf="viewType === 'minutes'">{{ position.accuracyLongitude | minutes }}</span>
        </span>        
    </dd>
    <dd *ngIf="position.longitude === null" class="value">
        {{ "not available" | lang: currentLang }}
    </dd>

    <dt>{{ "Altitude" | lang: currentLang }}</dt>
    <dd *ngIf="position.altitude">
        <span class="value">{{ position.altitude }}</span>
        <span>{{ "meters" | lang: currentLang }}</span>
        <span class="accuracy">&plusmn; {{ position.altitudeAccuracy }}</span>
        a - {{ position.altitude }} <br>
        b - {{ position.altitudeAccuracy }}
    </dd>
    <dd *ngIf="! position.altitude" class="value">
        {{ "not available" | lang: currentLang }}
    </dd>    
</dl>

<app-lang></app-lang>